<!DOCTYPE=html>
<html>
  <head>
    <Meta charset='utf-8'>
    <title>{{pageTitle}}</title>
  </head>
  <body>
      {{> header}}
      <p> {{ScreamIt welcomeMessage}}</p>  <!-register helper usage->
    {{> footer}}
  </body>
</html>
