<!DOCTYPE=html>
<html>
  <head>
    <Meta charset='utf-8'>
    <title>Some website</title>
  </head>
  <body>
      <h1>Maintenance in progress</h1>
      <p>Please check back later </p>
    
  </body>
</html>
